<!DOCTYPE html>
<html>
<head>
<title>Sum info on rift wizurd</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

</head>
<body>

<!--todo: move this to separate file-->
<style>
body {
font-size:14px;
color:white;
background:black;
}
.column,.info_panel,.entry {
border:1px solid white;
border-radius:7px;
}
.info_panel {
overflow-y:auto;
}
.entry {
padding:3px;
/*margin:3px 0;*/
}
.entry.selected {
outline: 2px white;
-moz-box-shadow:inset 2px 2px 10px white;
-webkit-box-shadow:inset 2px 2px 10px white;
box-shadow:inset 2px 2px 10px white;
}
.info_panel {
height:23vh;
}

.column {
height:75vh;
overflow:auto;
overflow-x:hidden;
}
.schools_filter .school_name, .entry {
cursor:pointer;
display:inline-block;
width:100%;
}
.schools_filter .school_name:hover,.entry:hover {
background:rgba(255,255,255,0.3);
}
.school_name {
color:#969696;
text-transform:capitalize;
display:inline-block;
}

.school_name.no-conjuration, .school_name.conjuration-only {
color:red;
text-decoration-thickness: 3px;
}
.school_name.conjuration-only {
text-decoration-line:underline;
}
.school_name.no-conjuration {
text-decoration-line:line-through;
}

</style>

<div id="app">
	<div class="container-fluid">
		<div class="row">
			<div class="col-3 info_panel">
				<template v-if="displayed_item">
					<template v-if="displayed_item_type=='spell'">
						<div>
							{{ displayed_item.title }}
							<template v-if="displayed_item.schools.length">
							[
							<template v-for="name in displayed_item.schools">
								<span class="school_name" :class="name.toLowerCase()" v-html="decorate_school_name(name,true)"></span>
							</template>
							]
							</template>
							({{ displayed_item.level }})
						</div>
						<div>
							<template v-if="!(displayed_item.range =='none')">
								<i class="fas fa-external-link-square-alt"></i> {{ displayed_item.range }}
							</template>
							
							<template v-if="displayed_item.charges">
								<i class="fas fa-battery-three-quarters"></i> {{ displayed_item.charges }}
							</template>	
							
							<template v-if="displayed_item.los_required =='0'">
								<i class="fas fa-eye-slash"></i>
							</template>
							
							
						</div>
						<div>{{ displayed_item.description }}</div>
					</template>
					<template v-if="displayed_item_type=='skill'">
						<div>
							{{ displayed_item.title }}
							<template v-if="displayed_item.schools.length">
							[
							<template v-for="name in displayed_item.schools">
								<span class="school_name" :class="name.toLowerCase()" v-html="decorate_school_name(name,true)"></span>
							</template>
							]
							</template>
							({{ displayed_item.level }})
						</div>
						<template v-if="displayed_item.applies_to">
							<div>---{{ displayed_item.applies_to }}---</div>
						</template>
						<div v-if="displayed_item.applies_what && displayed_item.applies_what.length">
							<template v-if="displayed_item.applies_what.length > 1">
								<ul>
									<template v-for="effect in displayed_item.applies_what">
										<li>{{ effect }}
									</template>
								</ul>
							</template>
							<template v-else>
								{{ displayed_item.applies_what[0] }}
							</template>
						</div>
					</template>
					<template v-if="displayed_item_type=='shrine'">
						<div>
							{{ displayed_item.title }}
							<template v-if="displayed_item.conditions.length">
							[
							<template v-for="name in displayed_item.conditions">
								<span class="school_name" :class="name.toLowerCase()" v-html="decorate_school_name(name,true)"></span>
							</template>
							]
							</template>
						</div>
						<div>{{ displayed_item.desc }}</div>
					</template>
				</template>
				<template v-else>
					&nbsp;
				</template>
			</div>
			<div class="col-3 info_panel">
				<template v-if="displayed_item">
					<template v-if="displayed_item_type=='spell'">
						<template v-for="upgrade in displayed_item.upgrades">
						<div class="entry"
						@mouseover="hover_upgrade(upgrade)"
						@mouseout="hover_upgrade_out()"
						>
							<div class="row"
							>
								<div class="col-10">
									{{ upgrade.title }}
								</div>
								<div class="col-2">
									{{ upgrade.cost }}
								</div>
							</div>
						</div>
						</template>
					</template>
				</template>
			</div>
			<div class="col-3 info_panel">
				<template v-if="hovered_upgrade">
					{{ hovered_upgrade.description }}
				</template>
			</div>
		</div>
		<div class="row">
			<div :class="[{'v-hidden':false},'col-3','column','spells']">
				<template v-for="(item,index) in spells">
					<div
					@mouseover="hover_over(item,'spell')"
					@mouseout="hover_out()"
					@click="toggle_item_select(item,'spell')"
					class="entry"
					:class="{'selected':selected_item==item,'d-none': !(selected_item==item) && !check_against_filters()['spell'](item)}"
					v-if="item.title.indexOf('ingame') == -1">
						<div class="title row">
							<div class="col-8">{{ item.title }}</div>
							<div class="col-3">
								<template v-for="name in item.schools">
									<span class="school_name" :class="name.toLowerCase()" v-html="decorate_school_name(name,true)"></span>
								</template>
							</div>
							<div class="col-1 p-0">{{ item.level }}</div>
						</div>
					</div>
				</template>
			</div>
			<div :class="[{'v-hidden':false},'col-3','column','skills']">
				<template v-for="(item,index) in skills">
					<div
					@mouseover="hover_over(item,'skill')"
					@mouseout="hover_out()"
					@click="toggle_item_select(item,'skill')"
					class="entry"
					:class="{'selected':selected_item==item,'d-none': !(selected_item==item) && !check_against_filters()['skill'](item)}"
					v-if="item.title.indexOf('ingame') == -1">
						<div class="title row">
							<div class="col-8">{{ item.title }}</div>
							<div class="col-3">
								<template v-for="name in item.schools">
									<span class="school_name" :class="name.toLowerCase()" v-html="decorate_school_name(name,true)"></span>
								</template>
							</div>
							<div class="col-1 p-0">{{ item.level }}</div>
						</div>
					</div>
					
				</template>
			</div>
			<div :class="[{'v-hidden':false},'col-3','column','shrines']">
				<template v-for="(item,index) in shrines">
					<div
					@mouseover="hover_over(item,'shrine')"
					@mouseout="hover_out()"
					@click="toggle_item_select(item,'shrine')"
					class="entry"
					:class="{'selected':selected_item==item,'d-none': !(selected_item==item) && !check_against_filters()['shrine'](item)}"
					v-if="item.title.indexOf('ingame') == -1">
						<div class="title row">
							<div class="col-8">{{ item.title }}</div>
							<div class="col-4">
								<template v-for="name in item.conditions">
									<span class="school_name" :class="name.toLowerCase()" v-html="decorate_school_name(name,true)"></span>
								</template>
							</div>
						</div>
					</div>
				</template>
			</div>
			<div class="schools_filter col-3">
				<template v-for="(item,index) in schools">
					<div>
							<span class="school_name" @click="toggle_school($event,index)" :class="[{selected:item.selected},index]" v-html="decorate_school_name(index)"></span>
					</div>
				</template>
			</div>
		</div>
	</div>
	
</div>

<!--todo: move this to separate file-->
<script>
const indexOfCI = (arr, q) => arr.findIndex( item => q.toLowerCase() === item.toLowerCase()); // case-independant indexOf

var known_schools_stuff = { // icons for schools was just an idea - probably a bad one
	"fire" : {color:'#dc1b22',icon_class:'fa-eye-slash',letter:'f'},
	"lightning" : {color:'#fbea57',icon_class:'fa-eye-slash',letter:'l'},
	"ice" : {color:'#4ec1f4',icon_class:'fa-eye-slash',letter:'i'},
	"nature" : {color:'#5dad5d',icon_class:'fa-eye-slash',letter:'n'},
	"arcane" : {color:'#f06292',icon_class:'fa-eye-slash',letter:'a'},
	"dark" : {color:'#9c27b0',icon_class:'fa-eye-slash',letter:'d'},
	"holy" : {color:'#f6fe8d',icon_class:'fa-eye-slash',letter:'h'},
	"sorcery" : {color:'#e91e63',icon_class:'fa-eye-slash',letter:'s'},
	"conjuration" : {color:'#f36c60',icon_class:'fa-eye-slash',letter:'c'},
	"enchantment" : {color:'#31a490',icon_class:'fa-eye-slash',letter:'e'},
	"word" : {color:'#ffd54f',icon_class:'fa-eye-slash',letter:'w'},
	"orb" : {color:'#f8a8b7',icon_class:'fa-eye-slash',letter:'b'},
	"dragon" : {color:'#b0120a',icon_class:'fa-eye-slash',letter:'r'},
	"translocation" : {color:'#ba68c8',icon_class:'fa-eye-slash',letter:'t'},
	"eye" : {color:'#ffffff',icon_class:'fa-eye',letter:'y'},
	"chaos" : {color:'#ffab4d',icon_class:'fa-eye-slash',letter:'o'},
}

function sumstartingsht (jsons) { 
	window.schools = jsons.skills.reduce(function(acc,item,index,array){ // select distinct schools from jsons
		for (var i=0;i<item.schools.length;i++){
			if (indexOfCI(acc,item.schools[i])===-1){
				acc.push(item.schools[i].toLowerCase())
			}
			return acc;
		}
	},[]);
	// sort stuff by lvl. TODO: make it look better
	jsons.spells.sort(function(a, b) {
		if (a.level > b.level) {
			return 1;
		}
		if (a.level < b.level) {
			return -1;
		}
		
		if (a.title > b.title) {
			return 1;
		}
		if (a.title < b.title) {
			return -1;
		}
		
		return 0;
	});
	jsons.skills.sort(function(a, b) {
		if (a.level > b.level) {
			return 1;
		}
		if (a.level < b.level) {
			return -1;
		}
		
		if (a.title > b.title) {
			return 1;
		}
		if (a.title < b.title) {
			return -1;
		}
		
		return 0;
	});
	jsons.shrines.sort(function(a, b) {
		if (a.title > b.title) {
			return 1;
		}
		if (a.title < b.title) {
			return -1;
		}
		
		return 0;
	});
	
	var css = '', //css for highlighting the letters
		head = document.head || document.getElementsByTagName('head')[0],
		style = document.createElement('style');
		head.appendChild(style);
		style.type = 'text/css';

		for (k in known_schools_stuff) {
			css += '.school_name.' + k + ' .letter{color:' + known_schools_stuff[k].color + "}\r\n";
			css += '.school_name.' + k + '.selected{color:' + known_schools_stuff[k].color + "}\r\n";
		};
		
		css += '.school_name.no-conjuration .letter{color:' + known_schools_stuff['conjuration'].color + "}\r\n";
		css += '.school_name.conjuration-only .letter{color:' + known_schools_stuff['conjuration'].color + "}\r\n";

		if (style.styleSheet){
		  style.styleSheet.cssText = css;
		} else {
		  style.appendChild(document.createTextNode(css));
		}
}

var url = "/data_sources/";
url = "https://8008fondler.github.io/riftwiz/data_sources/";

jsons = {};


Promise.all([ // bye-bye IE11
	fetch(url + 'skills.json').then(response => response.json()),
	fetch(url + 'shrines.json').then(response => response.json()),
	fetch(url + 'spells.json').then(response => response.json()),
]).then(([skills, shrines,spells]) => init({skills:skills, shrines:shrines,spells:spells}));

function init (jsons) {
	sumstartingsht(jsons);
	
	new Vue({ // TODO: move into a separate file
		el:"#app",
		data: {
			skills:jsons.skills,
			spells:jsons.spells,
			shrines:jsons.shrines,
			
			schools:window.known_schools_stuff,
			schools_present: window.schools,
			
			hovered_item: null,
			hovered_item_type: null,
			/*hovered_shrine: null,
			hovered_skill: null,*/
			hovered_upgrade:null,
			
			selected_item: null,
			selected_item_type:null,
			
			school_filters: [],
		},
		mounted: function(){
			var _t=this;
			window.addEventListener('keydown', function(e) {
				_t.key_pressed(e);
			});
			
		},
		methods:{
			decorate_school_name(name,letter_only) {
				var name = name.toLowerCase();
				var tmp_name = name;
				
				if ((name=='no-conjuration' || name=='conjuration-only')) {
					name = 'conjuration';
				}
				
				var school_data = this.schools[name];
				if (!school_data) {
					return 'unknown school';
				}
				var ind = name.indexOf(school_data.letter);
				
				var res = name.split('');
				if (!letter_only) {
					res.splice(ind+1, 0, "</span>");
					res.splice(ind, 0, "<span class='letter'>");
					res = res.join('');
				} else {
					res = "<span class='letter'>" + res[ind] + "</span>";
				}
				
				return res;
			},
			toggle_school (e,name){
				if (typeof this.schools[name].selected == 'undefined') {
					Vue.set(this.schools[name],'selected',false);
				}
				
				this.schools[name].selected = !this.schools[name].selected;
			},
			key_pressed (e){
				var K = e.key;
				if (e.ctrlKey)
					return
					
				for (name in this.schools) {
					if (this.schools[name].letter.toLowerCase() == K.toLowerCase()){
						this.toggle_school(e,name)
					}
				}
			},
			refresh_lists(){
			
			},
			hover_over(item,type){
				this.hovered_item = item;
				this.hovered_item_type = type;
			},
			hover_upgrade(upg){
				this.hovered_upgrade = upg;
			},
			hover_upgrade_out(){
				this.hovered_upgrade = null;
			},
			hover_out(){
				this.hovered_item = null;
				this.hovered_item_type = null;
			},
			toggle_item_select(item,type){
				if (this.selected_item == item) {
					this.selected_item = null;
					this.selected_item_type = null;
				} else {
					this.selected_item = item;
					this.selected_item_type = type;
				}
			},
			check_against_filters(){ // TODO:rework this stuff
				var _t=this;
				
				return {
					'spell':function(spell_data){
						for (k in _t.schools){
							if (_t.schools[k].selected && indexOfCI(spell_data.schools,k)===-1){
								return false;
							}
						}
						return true;
					},
					'skill':function(skill_data){
						for (k in _t.schools){
							if (_t.schools[k].selected && indexOfCI(skill_data.schools,k)===-1){
								return false;
							}
						}
						return true;
					},
					'shrine':function(shrine_data){ // shrines conditions are || between eachother, then && if the "cj-only"/"non-cj" is present
						if (_t.selected_item && _t.selected_item_type == 'spell' && shrine_data.conditions.length) {
							var spell_schools = _t.selected_item.schools;
							
							if (indexOfCI(shrine_data.conditions,'conjuration-only')!==-1) {
								if (indexOfCI(spell_schools,'conjuration')===-1) {
									return false;
								} else if (shrine_data.conditions.length==1) { // for cases with "non-cj" being the only requirement
									return true;
								}
							}
							
							if (indexOfCI(shrine_data.conditions,'no-conjuration')!==-1) {
								if (indexOfCI(spell_schools,'conjuration')!==-1) {
									return false;
								}
							}
							
							for (var z = 0; z<spell_schools.length;z++){
								if (indexOfCI(shrine_data.conditions,spell_schools[z])!==-1)
									return true;
							}
							
							return false;
						}
						
						return true;
					}
				}
			}
		},
		computed: { // TODO(?): separate these: make more than one selectable, make more than one type selectable; how? why?
			displayed_item: function() {
				return null || this.hovered_item || this.selected_item;
			},
			displayed_item_type: function() {
				return null || this.hovered_item_type || this.selected_item_type;
			}, 
			
		},
	});
};
</script>

</body>
</html>